:root {
  /* colors */
  --eerie-black: hsl(0, 0%, 9%);
  --cultured: hsl(0, 0%, 96%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  /* transition */
  --transition-1: 0.25s ease;
  --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);
}

/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'roboto', sans-sans-serif;
}

li { list-style: none; }

ion-icon { display: block; }

input,
button {
  background: none;
  border: none;
  font: inherit;
}

/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

/*.container { padding-inline: 15px; }*/

a { color: inherit; }

/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/
/*.navbar{
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 9;
}*/

.nav-items{
	display: flex;
	align-items: center;
	gap: 27px;
}

.brand-logo{
	height: 60px;
	width: 93px;
}

.navbar {
	position: absolute;
	top: 0;
	left: 0;
	background: var(--white);
	width: 100%;
	padding: 10px 5vw;
	/*padding-block: 7px;*/
	z-index: 4;
	transition: var(--transition-1);
}

.navbar.active {
	position: fixed;
	box-shadow: 0 2px 20px hsla(0, 0%, 0%, 0.1);
}

.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search { display: none; }

.search { width: 215px; }

.search ion-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 24px;
  }

.search-box {
	border: none;
    padding-block: 10px;
    padding-inline-end: 20px;
    border-block-end: 1px solid  hsla(0, 0%, 0%, 0.25);
    outline: none;
	font-size: 15px;
	font-family: Sans-serif;
    transition: 0.25s ease;
  }
.search-box::-webkit-search-cancel-button { display: none; }
.search-box:focus { border-block-end-color: #9e1461; }

.header-action-btn {
  position: relative;
  font-size: 24px;
  transition: 0.25s ease;
}

.header-action-btn:is(:hover, :focus) { color: #9e1461; }


.header-action-btn .btn-badge, .cart-btn-badge {
  background-color: #cd84ad;
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  font-weight: 500;
  position: absolute;
  bottom: -10px;
  right: -10px;
  padding-inline: 6px;
  border-radius: 50%;
}

.nav-items a, button{
	position: relative;
	cursor: pointer;
}

.link{
	text-transform: capitalize;
	padding: 0 10px;
	margin: 0 5px;
	text-decoration: none;
	font-weight: 350;
	font-size: 25px;
	color: #9e1461;
	/*opacity: 0.5;*/
	transition: .5s;
}

.link:hover{
	opacity: 0.5/*1*/;
}
.login-logout-popup{
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	padding: 10px;
	background: #fff;
	border-radius: 10px;
	top: 40px;
	width: 200px;
	transition: .5s;
	border: 2px solid #f5f5f5;
	z-index: 1;
}

.login-logout-popup::after{
	content: '';
	position: absolute;
	top: -9.7px;
	left: 50%;
	transform: translatex(-50%) rotate(45deg);
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 5px;
	border-top: 2px solid #f5f5f5;
	border-left: 2px solid #f5f5f5;
}

.account-info{
	font-size: 20px;
	text-transform: capitalize;
}

#user-btn{
	padding: 10px;
	background: #383838;
	color: #fff;
	border: none;
	outline: none;
	width: 100%;
	border-radius: 5px;
	margin-top: 20px;
	text-transform: capitalize;
	cursor: pointer;
}

.hide{
	opacity: 0;
	pointer-events: none;
}

.nav-open-btn {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
}

.nav-open-btn span {
  width: 20px;
  height: 2px;
  background: var(--black);
  transition: var(--transition-1);
}

.nav-open-btn span:nth-child(2) {
  transform: scaleX(0.5);
  transform-origin: right;
}

.nav-open-btn:is(:hover, :focus) span:nth-child(2) { transform: scaleX(1); }

.header-actions {
  background: var(--white);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  padding-block: 9px 13px;
  box-shadow: 0 -2px 20px hsla(0, 0%, 0%, 0.1);
  z-index: 1;
}

.sidenav {
  background: var(--white);
  position: fixed;
  top: 0;
  right: -300px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  padding: 30px 25px;
  z-index: 3;
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
}

/*.navbar.active,*/
.sidenav.active {
  visibility: visible;
  transform: translateX(-300px);
  transition: 0.5s var(--cubic-in);
}

/*.navbar-top*/ .sidenav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.nav-close-btn ion-icon { font-size: 23px; }

.links-container > li:not(:last-child) {
	border-bottom: 1px solid var(--cultured);
}

.overlay {
  position: fixed;
  inset: 0;
  background: var(--black);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
  z-index: 2;
}

.overlay.active {
  opacity: 0.7;
  pointer-events: all;
}

/*-----------------------------------*\
 * #MEDIA QUARIES
\*-----------------------------------*/

/* responsive for larger than 580px screen */
@media (min-width: 580px) {
	/* REUSED STYLE */
	.container {
		max-width: 550px;
		margin-inline: auto;
	}
}

/* responsive for larger than 768px screen */
@media (min-width: 768px) {
	/* REUSED STYLE */
	.container { max-width: 700px; }
}

/* responsive for larger than 992px screen */
@media (min-width: 992px) {
	/* RESET */
	body { padding-block: 0; }

	/* REUSED STYLE */
	.container { max-width: 1098px; }

	/* HEADER */
	.navbar {
		position: relative;
		/*padding-block: 10px;*/
		border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
		margin-bottom: 49px;
	}

	.navbar.active  {
		position: relative;
		box-shadow: none;
	}

	.navbar .container {
		align-items: center;
	}

	.search {
		display: block;
		position: relative;
		width: max-content;
	}

	.search .search-btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 24px;
		color: var(--eerie-black);
	}

	.search .search-btn ion-icon { --ionicon-stroke-width: 30px; }

	.navbar .brand-logo { margin-inline: auto; }

	.nav-open-btn,
	.header-action-btn:nth-child(2),
	.sidenav-top,
	.overlay { display: none; }

	.header-actions {
		all: unset;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 27px;
	}

	.sidenav {
		all: unset;
		position: absolute;
		top: calc(100% + 1px);
		left: 0;
		width: 100%;
		background: var(--white);
	}

	.navbar.active .sidenav  {
		position: fixed;
		top: 0;
		box-shadow: 0 2px 20px hsla(0, 0%, 0%, 0.1);
	}

	.links-container {
		align-items: center;
		display: flex;
		padding: 10px 10vw;
		justify-content: center;
	}
	 
	.links-container > li:not(:last-child) {
		border-bottom: none; 
	}
}

/* responsive for larger than 1200px screen */
@media (min-width: 1200px) {
	/* REUSED STYLE */
	.container { max-width: 100%; }
}